{% extends 'base.html' %}
{% block title %}Profil — MediCare{% endblock %}
{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card-clinic p-4">
        <div class="text-center mb-4">
          {% if user.avatar %}
              <img src="{{ user.avatar.url }}" class="avatar-circle avatar-xl" alt="avatar">
          {% else %}
              <div class="avatar-circle avatar-xl d-flex align-items-center justify-content-center">
                  {{ user.first_name|first|upper }}
              </div>
          {% endif %}
          <h4 class="mt-3 mb-0">{{ user.get_full_name }}</h4>
          <span class="specialization-badge">{{ user.get_role_display }}</span>
        </div>
        <form method="post" enctype="multipart/form-data" class="form-clinic">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Ism</label>
              {{ form.first_name }}
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Familiya</label>
              {{ form.last_name }}
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            {{ form.email }}
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Telefon</label>
              {{ form.phone }}
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Tug'ilgan sana</label>
              {{ form.birth_date }}
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Manzil</label>
            {{ form.address }}
          </div>
          <div class="mb-3">
            <label class="form-label">Profil rasmi</label>
            {{ form.avatar }}
          </div>
          <button type="submit" class="btn btn-clinic w-100 py-2">Saqlash</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
